In [2]:
import pandas as pd
df = pd.read_json('nobel_winners.json')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 12 columns):
born_in           1052 non-null object
category          1052 non-null object
country           1052 non-null object
date_of_birth     1044 non-null object
date_of_death     1044 non-null object
gender            1040 non-null object
link              1052 non-null object
name              1052 non-null object
place_of_birth    1044 non-null object
place_of_death    1044 non-null object
text              1052 non-null object
year              1052 non-null int64
dtypes: int64(1), object(11)
memory usage: 53.5+ KB

In [3]:
df.describe()

              year
count  1052.000000
mean   1968.729087
std      33.155829
min    1809.000000
25%    1947.000000
50%    1975.000000
75%    1996.000000
max    2014.000000

In [4]:
df.describe(include=['object'])

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text
count,1052,1052,1052,1044,1044,1040,1052,1052,1044,1044,1052
unique,40,7,59,853,563,2,893,998,735,410,1043
top,,Physiology or Medicine,United States,7 November 1867,,male,http://en.wikipedia.org/wiki/Marie_Curie,Betty Williams,,,"Médecins Sans Frontières , Peace, 1999"
freq,910,250,350,4,362,982,4,2,29,409,2

In [5]:
df.head()

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909

In [6]:
df_index=df.set_index('name')    # 用name來排序
df_index.head()

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
Institut de Droit International,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
Auguste Beernaert,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909

In [7]:
df.born_in.describe()

count     1052
unique      40
top
freq       910
Name: born_in, dtype: object

In [8]:
set(df.born_in.apply(type))

{str}

In [9]:
#------born_in clean------
import numpy as np
df.born_in.replace('',np.nan,inplace=True)
df.born_in
#df.born_in.describe()

0                          NaN
1       Bosnia and Herzegovina
2       Bosnia and Herzegovina
3                          NaN
4                          NaN
5                          NaN
6                          NaN
7                          NaN
8                          NaN
9                          NaN
10                         NaN
11                         NaN
12                         NaN
13                         NaN
14                     Belarus
15                     Belarus
16                     Belarus
17                         NaN
18                         NaN
19                         NaN
20                         NaN
21                         NaN
22                         NaN
23                         NaN
24                         NaN
25                         NaN
26                         NaN
27              Czech Republic
28              Czech Republic
29              Czech Republic
                 ...
1022                       NaN
1023                   Austria
1024                   Austria
1025                       NaN
1026                       NaN
1027                   Austria
1028                       NaN
1029                       NaN
1030                   Austria
1031                   Austria
1032                       NaN
1033                       NaN
1034                   Austria
1035                 Australia
1036                       NaN
1037                       NaN
1038                       NaN
1039                 Australia
1040                       NaN
1041                 Australia
1042                       NaN
1043                       NaN
1044                       NaN
1045                       NaN
1046                 Australia
1047                       NaN
1048                       NaN
1049                       NaN
1050                       NaN
1051                       NaN
Name: born_in, Length: 1052, dtype: object

In [21]:
#------name clean------
df.name = df.name.str.replace('*','')    # 消除 * 符號
df.name

0                                        César Milstein
1                                           Ivo Andric
2                                      Vladimir Prelog
3                       Institut de Droit International
4                                     Auguste Beernaert
5                                   Maurice Maeterlinck
6                                     Henri La Fontaine
7                                          Jules Bordet
8                                     Corneille Heymans
9                                          Georges Pire
10                                        Albert Claude
11                                    Christian de Duve
12                                       Ilya Prigogine
13                                     François Englert
14                                       Simon Kuznets
15                                      Menachem Begin
16                                        Shimon Peres
17                                Karl Adolph Gjellerup
18                                         August Krogh
19                                           Niels Bohr
20                        Johannes Andreas Grib Fibiger
21                                           Henrik Dam
22                              Johannes Vilhelm Jensen
23                                    Ben Roy Mottelson
24                                            Aage Bohr
25                                      Niels Kaj Jerne
26                                  Jens Christian Skou
27                                  Bertha von Suttner
28                                          Gerty Cori
29                                 Carl Ferdinand Cori
                             ...
1022                                Victor Francis Hess
1023                                        Otto Loewi
1024                                      Richard Kuhn
1025                                     Wolfgang Pauli
1026                                      Max F. Perutz
1027                                   Karl von Frisch
1028                                      Konrad Lorenz
1029                                    Friedrich Hayek
1030                                       Walter Kohn
1031                                    Eric R. Kandel
1032                                   Elfriede Jelinek
1033                 International Atomic Energy Agency
1034                                    Martin Karplus
1035                            William Lawrence Bragg
1036                                  Sir Howard Florey
1037                        Sir Frank Macfarlane Burnet
1038                                  John Carew Eccles
1039                            Aleksandr M. Prokhorov
1040                                      Patrick White
1041                             John Warcup Cornforth
1042                                      John Harsanyi
1043    Peter C. Doherty  & Professor  Rolf Zinkernagel
1044                                    J. Robin Warren
1045                                     Barry Marshall
1046                            Elizabeth H. Blackburn
1047                                   Brian P. Schmidt
1048                              Carlos Saavedra Lamas
1049                                   Bernardo Houssay
1050                               Luis Federico Leloir
1051                              Adolfo Pérez Esquivel
Name: name, Length: 1052, dtype: object

In [22]:
df.name = df.name.str.strip()    # 消除 部分名字後面出現空格
df.name

0                                        César Milstein
1                                            Ivo Andric
2                                       Vladimir Prelog
3                       Institut de Droit International
4                                     Auguste Beernaert
5                                   Maurice Maeterlinck
6                                     Henri La Fontaine
7                                          Jules Bordet
8                                     Corneille Heymans
9                                          Georges Pire
10                                        Albert Claude
11                                    Christian de Duve
12                                       Ilya Prigogine
13                                     François Englert
14                                        Simon Kuznets
15                                       Menachem Begin
16                                         Shimon Peres
17                                Karl Adolph Gjellerup
18                                         August Krogh
19                                           Niels Bohr
20                        Johannes Andreas Grib Fibiger
21                                           Henrik Dam
22                              Johannes Vilhelm Jensen
23                                    Ben Roy Mottelson
24                                            Aage Bohr
25                                      Niels Kaj Jerne
26                                  Jens Christian Skou
27                                   Bertha von Suttner
28                                           Gerty Cori
29                                  Carl Ferdinand Cori
                             ...
1022                                Victor Francis Hess
1023                                         Otto Loewi
1024                                       Richard Kuhn
1025                                     Wolfgang Pauli
1026                                      Max F. Perutz
1027                                    Karl von Frisch
1028                                      Konrad Lorenz
1029                                    Friedrich Hayek
1030                                        Walter Kohn
1031                                     Eric R. Kandel
1032                                   Elfriede Jelinek
1033                 International Atomic Energy Agency
1034                                     Martin Karplus
1035                             William Lawrence Bragg
1036                                  Sir Howard Florey
1037                        Sir Frank Macfarlane Burnet
1038                                  John Carew Eccles
1039                             Aleksandr M. Prokhorov
1040                                      Patrick White
1041                              John Warcup Cornforth
1042                                      John Harsanyi
1043    Peter C. Doherty  & Professor  Rolf Zinkernagel
1044                                    J. Robin Warren
1045                                     Barry Marshall
1046                             Elizabeth H. Blackburn
1047                                   Brian P. Schmidt
1048                              Carlos Saavedra Lamas
1049                                   Bernardo Houssay
1050                               Luis Federico Leloir
1051                              Adolfo Pérez Esquivel
Name: name, Length: 1052, dtype: object

In [24]:
df_drop_born_in =df[df.name.isnull()]    #查出哪一些是born_in是NaN
df_drop_born_in = df.drop('born_in', axis=1)
df_drop_born_in.head()

,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909

In [25]:
df_drop_born_in_drop = df_drop_born_in.drop('born_in',axis=1)    # 拿掉born_in是NaN的那一直列
df_drop_born_in_drop.head()
df = df_drop_born_in_drop

ValueError: labels ['born_in'] not contained in axis

In [13]:
dupse_by_name= df[df.duplicated('name')]
dupse_by_name.count()

category          909
country           909
date_of_birth     901
date_of_death     901
gender            899
link              909
name                0
place_of_birth    901
place_of_death    901
text              909
year              909
dtype: int64

In [14]:
all_dupes = df[df.duplicated('name')|df.duplicated('name',keep='last')]    # keep='last'  >>> 重複出現兩次以上的也都計算
all_dupes.count()

category          910
country           910
date_of_birth     902
date_of_death     902
gender            900
link              910
name                0
place_of_birth    902
place_of_death    902
text              910
year              910
dtype: int64

In [15]:
for name,rows in df.groupby('name'):
    print('name:%s,number of rows:%d'%(name, len(rows)))

In [16]:
#pd.concat([g for _,g in df.groupby('name')if leng(g)>1])['name']

In [17]:
df[df.grnder.isnull()]['name']
df=df[df.gender.notnull()]
df.count()

AttributeError: 'DataFrame' object has no attribute 'grnder'